:root {
  --color-muted: #00000092;
  --color-black: #111;
  --color-white: #f4f4f4;
  --color-accent: rgb(220, 233, 44);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.container {
  padding-inline: 16px;
  margin-inline: auto;
  max-width: 1200px;
}

.verse {
  padding: 8px;
}

.title {
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-black);
}

.info {
  font-size: 0.95rem;
  display: flex;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--color-muted);
}

.text {
  text-align: center;
  font-size: 1.2rem;
  max-width: 70ch;
  line-height: 1.8em;
  margin-bottom: 8px;
}

.text::before {
  content: '“';
  font-size: 2rem;
  color: var(--color-muted);
}

.text::after {
  content: '”';
  font-size: 2rem;
  color: var(--color-muted);
}

.translator {
  text-transform: capitalize;
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-muted);
}

.btn {
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 18px;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--color-black);
  background-color: var(--color-accent);
  transition: all 0.3s ease-in;
}

.btn:hover {
  opacity: 0.7;
}
